
*~
backups/
# Build Artifacts
/coverage/
# Dependencies
/.docker/
# Docker
docker/nginx/logs/
.DS_Store
.env
.env.backup
# Environment & Secrets
.env.production
Homestead.json
Homestead.yaml
.idea/
# IDE & Editor Files
# Logs
/node_modules/
npm-debug.log
.phpunit.result.cache
/public/build/
/public/hot
/public/storage
/storage/*.key
/storage/logs/*.log
*.swo
*.swp
# Testing
/vendor/
.vscode/
yarn-error.log
